#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ ansible_managed | comment() }}

services:
  prowlarr:
    {% if prowlarr_docker_cap_add | length > 0 %}
    cap_add:
      {% for capability in prowlarr_docker_cap_add %}
      - {{ capability }}
      {% endfor %}
    {% endif %}
    {% if prowlarr_docker_cap_drop | length > 0 %}
    cap_drop:
      {% for capability in prowlarr_docker_cap_drop %}
      - {{ capability }}
      {% endfor %}
    {% endif %}
    container_name: {{ prowlarr_docker_container_name }}
    {% if prowlarr_docker_depends_on | length > 0 %}
    depends_on:
      {% for dep in prowlarr_docker_depends_on %}
      - {{ dep }}
      {% endfor %}
    {% endif %}
    {% if prowlarr_docker_devices %}
    devices:
      {% for device in prowlarr_docker_devices %}
      - {{ device }}
      {% endfor %}
    {% endif %}
    environment:
      PUID: "{{ prowlarr_docker_env_puid }}"
      PGID: "{{ prowlarr_docker_env_pgid }}"
      TZ: "{{ prowlarr_docker_env_timezone }}"
      {% if prowlarr_docker_extra_environment_vars | length > 0 %}
      {% for env, value in prowlarr_docker_extra_environment_vars.items() %}
      {{ env }}: "{{ value }}"
      {% endfor %}
      {% endif %}
    image: {{ prowlarr_docker_image }}:{{ prowlarr_docker_image_tag }}
    {% if prowlarr_docker_labels | length > 0 %}
    labels:
      {% for label, value in prowlarr_docker_labels.items() %}
      {{ label }}: "{{ value }}"
      {% endfor %}
    {% endif %}
    {% if prowlarr_docker_external_networks | length > 0 and not (prowlarr_docker_network_mode | default('')) %}
    networks:
      {% for net in prowlarr_docker_external_networks %}
      - {{ net }}
      {% endfor %}
    {% elif prowlarr_docker_network_mode %}
    network_mode: {{ prowlarr_docker_network_mode | default('host') }}
    {% endif %}
    {% if prowlarr_docker_ports | length > 0 and not (prowlarr_docker_network_mode | default('')) %}
    ports:
      {% for port in prowlarr_docker_ports %}
      - {{ port }}
      {% endfor %}
    {% endif %}
    pull_policy: {{ prowlarr_docker_pull_policy }}
    restart: {{ prowlarr_docker_restart_policy }}
    volumes:
      - {{ prowlarr_docker_base_directory }}/config:/config
      {% if prowlarr_docker_additional_volumes | length > 0 %}
      {% for vol in prowlarr_docker_additional_volumes %}
      - {{ vol }}
      {% endfor %}
      {% endif %}
{% if prowlarr_docker_external_networks | length > 0 and not (prowlarr_docker_network_mode | default('')) %}

networks:
  {% for net in prowlarr_docker_external_networks %}
  {{ net }}:
    external: true
  {% endfor %}
{% endif %}